Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-loop-convert,
  modernize-make-unique,
  modernize-use-emplace,
  modernize-use-nullptr,
  modernize-use-override,
  cppcoreguidelines-slicing,
  cppcoreguidelines-virtual-class-destructor
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src|test)/.*'
CheckOptions:
  - key: bugprone-assert-side-effect.AssertMacros
    value: 'assert'
