BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
