<launch>
  <arg name="server" default="127.0.0.1"/>
  <arg name="port" default="3883"/>
  <arg name="frame_id" default="map"/>
  <arg name="config" default="$(find vrpn_router)/config/routes.example.yaml"/>
  <arg name="start_vrpn_client" default="true"/>

  <rosparam command="load" file="$(arg config)"/>

  <node if="$(arg start_vrpn_client)"
        pkg="vrpn_client_ros"
        type="vrpn_client_node"
        name="vrpn_client_node"
        output="screen">
    <param name="server" value="$(arg server)"/>
    <param name="port" value="$(arg port)"/>
    <param name="frame_id" value="$(arg frame_id)"/>
  </node>

  <node pkg="vrpn_router"
        type="vrpn_router_node"
        name="vrpn_router"
        output="screen"/>
</launch>
